<div style="width:30%; float:left;">
    @{await Html.RenderPartialAsync(@"~/Views/Tovars/Filter/Filters.cshtml");}
</div>
<div style="width:70%; float:left;">
    РЛОРЛОРЛОРЛОРЛОРЛОРЛ
    @ViewBag.Id.ToString()
</div>
