@using BLShopSite
@model List<vMenu>
@{
    string Drop = "";
    string ItemClass = "";
}

<ul class="dropdown-menu" >
    @foreach (var mi in Model)
    {
        Drop = mi.IsSubMenu == true ? "dropdown" : "";
        ItemClass = mi.IsSubMenu == true ? "dropdown-toggle" : "";
    <li>
        <a href="@Url.Action(mi.Command,mi.Controll, new { Id=mi.Id, TovarGroupId = mi.TovarGroupId})" class="@ItemClass" data-toggle="@Drop">
            @mi.Name
                @if (mi.IsSubMenu)
                {
                    <b class="caret"  style=" transform: rotate(-90deg)"></b>
                    @await Component.InvokeAsync("cMenuItems", mi.Id)
                }
            </a>
    </li>
    }
</ul>

