@using BLShopSite
@model List<vMenu>
@{
    string AClass = "";
    string LiClass = "";
}

<ul class="dropdown-menu" >
        @foreach (var mi in Model)
        {
            AClass = mi.IsSubMenu == true ? "dropdown-item dropdown-toggle" : "dropdown-item";
            LiClass = mi.IsSubMenu == true ? "dropdown-submenu" : "";
    <li class="@LiClass">
        <a href="@Url.Action(mi.Command,mi.Controll, new { Id=mi.Id, TovarGroupId = mi.TovarGroupId})" class="@AClass">
            @mi.Name
        </a>
        @if (mi.IsSubMenu)
        {
            @await Component.InvokeAsync("cMenuItems", mi.Id);
        }
    </li>
        }
    </ul>

