

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <text>@ViewBag.Title1</text>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
