
@using DBShopSite.Views
@model List<vFilter>
<form id="form1">
    @foreach (var fi in Model)
    {
        <br />
        @await Component.InvokeAsync("cFilterItem", new { FilterId = fi.Id, FilterName = fi.Name, FilterKindCode = fi.KindCode })
        <br />
    }
    <input type="button" onclick="GetZap()" value="Застосувати" />
    <script>
        function GetZap() {
            console.log("крок0");
            var payload;

            var data = [];
            var Value;
            for (let i = 0; i < $('.FilterItem').length; i++) {
                var element = $('.FilterItem')[i];
                var params = element.id.split('_')
                Value = null;
                el = $('#' + $('.FilterItem')[i].id);
                if (params[1] == 'FilterRangePrice') {
                   Value = el.val();
                   //Value = el.slider('getValue');
                }
                if (params[1] == 'FilterCheckList') {
                    Value = el.prop('checked') == true ? "1" : "0";
                }
                data.push(
                    { Id: element.id, Value: Value });
            }

            //alert(JSON.stringify(data));
            
        $.ajax({
            type: 'POST',
            url: '/Tovars/ListTovars',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (data) {
                $('#dvCategoryResults').html(data);
            },
            error: function () {
                alert("Сталась помилка!");
            }
        });
    }
    </script>
</form>
