
@using DBShopSite.Entities
@model List<Tovar>


<table class="table table-striped">
    @foreach (var t in Model)
    {
    <tr>
        <td>@t.Id</td>
        <td>@t.Name</td>
    </tr>
    }
</table>