
@using DBShopSite.Views
@model List<ViewTovar>

@{
    int? i = null;
    int? CurRank = null;
}
<div class="container-fluid" style="border:double; border-color:black;">
    @foreach (var g in Model.GroupBy(x => new { x.Rank }).Select(x => new { x.Key.Rank }))
    {
        i = 1;
        CurRank = g.Rank;
        <div class="row">
            @foreach (var t in Model.Where(x => x.Rank == g.Rank))
            {
                <div class="col-md-4" style="border:double; border-color:black; ">
                    @{await Html.RenderPartialAsync(@"~/Views/Tovars/TovarInfo.cshtml", (ViewTovar)t);}
                </div>
                i++;
            }
        </div>
    }
</div>