@{
    Layout = "_Layout";
}
@*@using DBShopSite.Entities*@
@using DBShopSite.Views

<div class="row">
    <div class="col-md-3 border border-top-1 border-right-1 border-bottom-1">
        @{await Html.RenderPartialAsync(@"~/Views/Tovars/Filter/Filters.cshtml", (List<ViewFilter>)ViewBag.ListFilter);}
    </div>
    <div class="col-md-9">
        <div id="dvCategoryResults">
            @{await Html.RenderPartialAsync(@"~/Views/Tovars/ListTovars.cshtml", (List<ViewTovar>)ViewBag.TovarsAll);}
        </div>

    </div>
</div>
