
@using DBShopSite.Views
@model ViewTovar
        <table>
            <tr>
                <td>Rank</td>
                <td>@Model.Rank</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Model.Name</td>
            </tr>
        </table>